// base css
@import "base/_mixins.scss";
@import "base/variables";

* {
    font-family: 'MuseoModerno', sans-serif;
    box-sizing: border-box;
}

.container {
    max-width: 950px;
    margin: 0 auto;
}

// blocks css
@import "blocks/_promo.scss";
@import "blocks/_header.scss";
@import "blocks/buttons";
@import "_media.scss";